package pages

import (
	"github.com/hillsidelabs/rd/infra"
	"github.com/hillsidelabs/rd/web/ui/layouts"
)

templ Infra(catalog *infra.Catalog) {
	@layouts.BaseLayout() {
					// Create a UI that lists the hosts from the catalog. You should be able to allow editing, deleting, and pausing. Also, create a button to create new VMs. AI!

	}
}
