package modules

import "github.com/axzilla/templui/icons"

templ Sidebar() {
	<aside class="w-64 h-screen bg-white dark:bg-gray-800 shadow-md">
		<div class="h-full flex flex-col justify-between p-4">
			<div>
							<nav class="space-y-1">
					<a href="/" class="flex items-center px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md">
						@icons.Home(icons.IconProps{Size: "24", Class: "h-5 w-5 mr-3"})
						Home
					</a>
					<a href="/infrastructure" class="flex items-center px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md">
						@icons.Server(icons.IconProps{Size: "24", Class: "h-5 w-5 mr-3"})
						Infrastructure
					</a>
					<a href="/networking" class="flex items-center px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md">
						@icons.Network(icons.IconProps{Size: "24", Class: "h-5 w-5 mr-3"})
						Networking
					</a>
					<a href="/storage" class="flex items-center px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md">
						@icons.Database(icons.IconProps{Size: "24", Class: "h-5 w-5 mr-3"})
						Storage
					</a>
				</nav>
			</div>
			<div class="mt-auto">
				<a href="/settings" class="flex items-center px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-md">
					@icons.UserPen(icons.IconProps{Size: "24", Class: "h-5 w-5 mr-3"})
					Profile
				</a>
			</div>
		</div>
	</aside>
}
